@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-animated-gradient {
    background: linear-gradient(-45deg, #e1f0ff, #ffffff, #f7f0ff, #f3e8ff);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
  }

  .glass-card {
    @apply bg-white/70 backdrop-blur-lg border border-white/40 shadow-xl;
  }
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}