@import "tailwindcss";

@theme {
  --color-background: #FAFAFB;
  --color-surface: #FFFFFF;
  --color-primary: #6952e0;
  --color-primary-dark: #6952e0;
  --color-accent: #EEF2FF;
  --color-border: #E5E7EB;
  --color-text: #111827;
  --color-text-muted: #6B7280;
  --font-burnr: var(--font-burnr), sans-serif;
}

@layer utilities {
  .bg-animated-gradient {
    background: linear-gradient(-45deg, #e1f0ff, #ffffff, #f7f0ff, #f3e8ff);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
  }

  .glass-card {
    @apply bg-white/70 backdrop-blur-lg border border-white/40 shadow-xl;
  }
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}